<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/styles.css" />
        <title>{{ .title }}</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li>About</li>
                    <li>|</li>
                    <li>Project</li>
                    <li>|</li>
                    <li>Blog</li>
                </ul>
            </nav>
            <h1 class="about">About</h1>
            <p>Welcome to my portfolio built with HTMX and Go!</p>
        </main>
    </body>
</html>
